---
import shuffleArray from "../helpers/shuffleArray";
import MenuLayout from "./MenuLayout.astro";
import SmallBlogEntry from "../components/SmallBlogEntry.astro";
const { frontmatter } = Astro.props;

let posts: any[];
try {
  	posts = await Astro.glob("../pages/blog/*.md");
    posts = posts.filter((post) => post.frontmatter.title != frontmatter.title);
  	posts = shuffleArray(posts);
    posts = posts.slice(0, 4);
} catch (error) {
  	posts = [];
}
---

<MenuLayout title={frontmatter.title}>
	<div>
		<article id="central">
			<slot />
		</article><br>
		<footer>
			{
					posts.length === 0
						? ""
						: posts.map((post) => (
								<SmallBlogEntry
									title={post.frontmatter.article}
									author={post.frontmatter.author}
									date={post.frontmatter.date}
									img_url={post.frontmatter.img_url}
									url={post.url!}
								/>
							))
				}
		</footer>

	</div>
</MenuLayout>

<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
	div {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	footer {
    /*display: inline-grid;
      grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));*/
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
	}
	#central {
		min-width: 60vw;
		max-width: 75vw;
		padding: 100px;
		flex-direction: column;
		text-align: left;
		h1 {
			font-size: 75px;
		}
		h2 {
			font-size: 60px;
		}
		h3 {
			font-size: 50px;
		}
		h4 {
			font-size: 45px;
		}
		h5 {
			font-size: 40px;
		}
		h6 {
			font-size: 30px;
		}
		p,
		strong,
		em {
			font-family: "Rubik", sans-serif;
		}
		img {
			text-align: center;
			font-weight: 200;
		}
		pre,
		pre * {
			font-size: 20px;
			font-family: "Rubik", sans-serif;
			font-weight: bold;
		}
	}
	@media screen and (max-width: 1100px) {
		#central {
			max-width: 100%;
		}
	}
	@media screen and (max-width: 650px) {
		#central {
			padding: 25px;
		}
	}
</style>
<script>
import openPage from "../helpers/openPage";

  const posts = document.querySelectorAll("[data-url]");
  posts.forEach((element) => {
    let el = element as HTMLElement;
    openPage(el, el.dataset.url!)
  })
</script>
